@model  GalleryItemViewModel

<form asp-action="AddPicture" method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="Title">Picture title</label>
        <input asp-for="Title" />
    </div>
    <div>
        <label for="image">Image File</label>
        <input name="Url" type="file" />
    </div>
    <button type="submit">Add new picture</button>
</form>