@model  UserItemViewModel

<form asp-action="AddUser" method="post">
    <label asp-for="UserEmail">Add new user</label>
    <input asp-for="UserEmail"/>
    <button type="submit">Add new user</button>
</form>