@model  UserItemViewModel

<form asp-action="AddUser" method="post">
    <label asp-for="userEmail">Add new user</label>
    <input asp-for="userEmail"/>
    <button type="submit">Add new user</button>
</form>