@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome To The <br> Greatest Picture Galery Ever</h1>
    <h2 class="display-4">Please login or register to access the gallery</h2>
</div>
